---
layout: base.njk
title: EXORDIUM EXSANGUIS
---
<section style="text-align:center; margin: 6rem 0;">
  <h1>EXORDIUM EXSANGUIS</h1>
  <p>listen to the lamb. all a-crying.</p>
  <form action="/content/marks/mark-i" method="get">
    <button class="button" type="submit">ENTER</button>
  </form>
</section>