---
layout: base.njk
title: Exordium Exsanguis
---

<section style="text-align:center; margin: 5rem 0;">
  <h1 style="letter-spacing:.03em;margin-bottom:1rem;">EXORDIUM EXSANGUIS</h1>
  <p class="notice">This book is not read. It is entered.</p>
  <form action="/mark-i" method="get" style="margin-top:2rem;">
    <button class="button" type="submit">ENTER</button>
  </form>
</section>